version: '3.8'

services:
  chords-thief:
    build:
      context: ..
      dockerfile: dockerfile
    volumes:
      - ../db:/app/db
      - ../obsidian-vault:/app/obsidian-vault
    environment:
      - NODE_ENV=production
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - DEEPSEEK_TOKEN=${DEEPSEEK_TOKEN}
      - DB_FILE_NAME=${DB_FILE_NAME}
      - PATH_TO_SAVE=${PATH_TO_SAVE}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
    restart: unless-stopped

